body{
    background-color: #FF5543;
}

.page-layout{
    max-width:auto;
    max-height:1600px;
    margin:-10% auto auto;
    color:#fbb03b;
    background-color: #FF5543;
    border:double 8px;
    border-radius: 30px;
    background-image:url(../files/background-image.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top 290px;
}

.header-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top:10%;
    font-family: monospace;
    text-align: center;
    flex-shrink: 1;
    justify-content: space-evenly;
}

.title,
.sub-header{

    border-radius: 15px;
    color: #fbb03b;
    background-color: #FF5543;
    border: solid 1px;
    flex-grow:0 1 0;
    align-self: center;
}

.title{
    padding:20px;
    border-radius: 15px;
    font-size: 180%;
    
}
.sub-header{
    padding: 25px;
    font-size: large;
    
}
.recipe-container{
    text-align: center;
    flex:1 1 auto;
}

.recipes{
    display:flex;
    margin:50% auto 3%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 0;

}
li{
    padding:1rem;
    margin:1rem;
    list-style-type:none;
    border: solid;
    border-radius: 10px;
    text-align: center;
    background-color:#fbb03b;
    font-family: 'Brush Script MT';
    font-size: 170%;
    font-weight: 800;
}
.image-container-1, .image-container-2, .image-container-3{
    display:none;
}

a:link{
    color: #FF5543 ;
    text-decoration: none;
}
a:visited{
    color:#FF5543;
}

a:hover{
    color:#D03011;
}

a.link-1:hover + div.image-container-1{
    display:block;
}
.chocolate-milk{
    position:bottom;
    border:solid #fbb03b;
    border-radius: 15px;
    margin-top: 20px;
}

a.link-2:hover + div.image-container-2{
    display:block;
}
.mac-and-cheese{
    position:bottom;
    border:solid #fbb03b;
    border-radius: 15px;
    margin-top: 20px;
}

a.link-3:hover + div.image-container-3{
    display:block;
}

.pbj{
    position:bottom;
    border:solid #fbb03b;
    border-radius: 15px;
    margin-top: 20px;
}
