body{
    background-color:#252525;
    color: #ffbf00;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.title, .page-header{
    text-align: center;
}

.nav, a, .recipes{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link{
    display:block;
}
ul.recipes, a{
    line-height: 2;
    margin-left: 1em;
    
}

a{
    text-decoration: none;
}
a:link{
    color:#dba400;
}
a:visited{
    color:##dba400;
}

a:hover{
    color:#FF7900;
    
}
img{
    margin:auto;
    display:block;
}